@import-normalize;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #171c49;
  font-weight: 700;
}

ul,
p,
h5 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: #171c49;
  }

  &:hover,
  &:active {
    color: #213dc0;
  }
}

strong {
  font-weight: 700;
}

button,
input {
  padding: 0;
  border: 0;
  outline: none;
}

input {
  max-width: 100%;
}

input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.clearfix {
  *zoom: 1;
}

:root {
  --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  --border-radius: 6px;
}
