.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  padding: 30px 0 10px;
  margin: 30px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.goods .item {
  height: 230px;
  margin: 0 20px 20px 0;
  cursor: pointer;

  position: relative;
}

.goods .cover {
  position: absolute;
  left: 20px;
  top: 20px;

  width: 140px;
  height: 140px;
  border-radius: 4px;
  transition: all 0.3s;
}

.goods .price {
  position: absolute;
  top: 170px;
  left: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  font-size: 24px;
  text-align: left;
  transition: top 0.3s, left 0.3s;
}

.goods .price small {
  display: block;
  line-height: 1;
  font-size: 12px;
  margin-top: 3px;
  margin-left: 5px;
}

.goods .extra {
  width: 100%;
  height: 100%;
  padding: 90px 20px 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  position: relative;
  opacity: 0;
}

.goods .name {
  line-height: 1.4;
  margin-bottom: 20px;
  font-weight: normal;
}

.goods .extra span {
  display: block;
  font-weight: normal;
  font-size: 12px;
}

.goods .extra .stock,
.goods .extra .sales {
  line-height: 24px;
  padding: 0 50px 0 26px;
  background: no-repeat -4px center;
}

.goods .extra .stock {
  margin-bottom: 10px;
  background-image: url(../../assets/images/stock.png);
}

.goods .extra .sales {
  background-image: url(../../assets/images/sales.png);
}

.goods .extra .mark {
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 60px;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  padding-top: 34px;
  border-left: 1px solid var(--warning-color);
  background: url(../../assets/images/mark.png) no-repeat right top;
}

.goods .item:hover {
  .cover {
    width: 50px;
    height: 50px;
  }

  .price {
    left: 80px;
    top: 20px;
  }

  .extra {
    opacity: 1;
    transition: all 0.1s 0.2s;
  }
}

.actions {
  display: flex;
  height: 36px;
  line-height: 36px;
  margin-top: 40px;
}

.actions .title {
  margin-right: 40px;
  padding-left: 36px;
  background: url(../../assets/images/mouse.png) no-repeat left center/28px;
}

.actions .total {
  margin-left: 20px;
  font-weight: 500;
}
