.actions {
  display: flex;
  height: 50px;
  line-height: 50px;
  margin-top: 40px;
  // background-color: #fff;
  // position: sticky;
  // top: 60px;
  // z-index: 99;
}

.actions .wrap {
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 14px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.actions .title {
  margin-right: 40px;
  padding-left: 36px;
  background: url(../../assets/images/mouse.png) no-repeat left center/28px;
}

.actions label {
  margin-right: 20px;
}

.actions .total {
  font-size: 16px;
}

.actions .button {
  display: block;
  width: 120px;
  text-align: center;
  margin-left: 30px;
  color: #fff;
  font-size: 14px;
  background-color: #171c49;
  border-radius: 4px;
}

.stocklist {
  margin: 40px 0;
}

.stocklist table {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.stocklist td,
.stocklist th {
  padding: 10px;
}

.stocklist th {
  font-size: 14px;
}

.stocklist td {
  height: 60px;
  font-size: 13px;
  font-weight: normal;
}

.stocklist img {
  width: 40px;
  height: 40px;
}

.stocklist :global(.text-overflow) {
  // -webkit-line-clamp: 3;
  // min-width: 100px;
  cursor: pointer;
}

.stocklist .button {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  border-radius: 4px;
  color: #fff;
}

.stocklist .danger {
  background-color: #f56c6c;
}

.stocklist .info {
  background-color: #171c49;
}
