.actions {
  display: flex;
  height: 36px;
  line-height: 36px;
  margin-top: 40px;
}

.actions .title {
  margin-right: 40px;
  padding-left: 36px;
  background: url(../../assets/images/mouse.png) no-repeat left center/28px;
}

.actions .total {
  margin-left: 20px;
  font-weight: 500;
}

.stocklist {
  margin: 30px 0 0;
  border-top: 1px solid var(--border-color);
}

.stocklist table {
  width: 100%;
  text-align: center;
  font-weight: normal;
}

.stocklist th {
  text-align: center !important;
  font-weight: 700 !important;
}

.stocklist th::before {
  display: none;
}

.stocklist img {
  width: 40px;
  height: 40px;
}

.stocklist :global(.ant-btn-dangerous) {
  margin-left: 10px;
}
